## Import Library

In [1]:
import pandas as pd
import numpy as np

## Create DataFrame

In [2]:
%%time
rows=1000000
columns=400
dataset=pd.DataFrame(np.random.randint(0,10,(rows,columns)),columns=['col'+str(i) for i in range(1,columns+1)])

Wall time: 6.87 s

In [3]:
dataset.head()

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,...,col391,col392,col393,col394,col395,col396,col397,col398,col399,col400
0,0,2,1,5,3,2,8,0,3,9,...,5,9,5,0,7,7,9,3,3,4
1,0,0,3,9,8,0,7,9,0,2,...,3,0,2,0,9,6,3,6,1,0
2,6,9,9,9,4,7,8,7,5,3,...,4,5,6,9,2,9,1,0,4,3
3,9,1,1,3,8,7,0,0,1,1,...,4,6,1,3,3,3,1,8,1,4
4,2,5,8,3,1,8,3,6,0,9,...,0,6,7,3,1,1,2,5,0,2

In [4]:
dataset.shape

(1000000, 400)

In [5]:
%%time
dataset.to_csv('dataset_vaex.csv',index=False)

Wall time: 1min 9s

In [6]:
%%time
dataset_original=pd.read_csv('dataset_vaex.csv')

Wall time: 54.1 s

## importing vaex library

In [7]:
import vaex

In [8]:
%%time

#converting csv to hdf5 format
df=vaex.from_csv('dataset_vaex.csv',convert=True)

Wall time: 1min 23s

## opening hdf5 file

In [9]:
%%time

df_vaex=vaex.open('dataset_vaex.csv.hdf5')

Wall time: 218 ms